Web References/konrad/CourierService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://server.webservices.konrad.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CourierService" targetNamespace="http://server.webservices.konrad.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CourierPortBinding_MTOM_Policy-CourierPortBinding_MTOM_Policy">
    <ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
  </wsp:Policy>
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/RSIKurier/CourierService?xsd=1" namespace="http://server.webservices.konrad.com/" />
    </xsd:schema>
  </types>
  <message name="registry">
    <part name="parameters" element="tns:registry" />
  </message>
  <message name="registryResponse">
    <part name="parameters" element="tns:registryResponse" />
  </message>
  <message name="getServerName">
    <part name="parameters" element="tns:getServerName" />
  </message>
  <message name="getServerNameResponse">
    <part name="parameters" element="tns:getServerNameResponse" />
  </message>
  <message name="getClientByLoginAndPassword">
    <part name="parameters" element="tns:getClientByLoginAndPassword" />
  </message>
  <message name="getClientByLoginAndPasswordResponse">
    <part name="parameters" element="tns:getClientByLoginAndPasswordResponse" />
  </message>
  <message name="getClientByAPIpassword">
    <part name="parameters" element="tns:getClientByAPIpassword" />
  </message>
  <message name="getClientByAPIpasswordResponse">
    <part name="parameters" element="tns:getClientByAPIpasswordResponse" />
  </message>
  <message name="placeOrderByAPIpassword">
    <part name="parameters" element="tns:placeOrderByAPIpassword" />
  </message>
  <message name="placeOrderByAPIpasswordResponse">
    <part name="parameters" element="tns:placeOrderByAPIpasswordResponse" />
  </message>
  <message name="placeOrderByLoginAndPassword">
    <part name="parameters" element="tns:placeOrderByLoginAndPassword" />
  </message>
  <message name="placeOrderByLoginAndPasswordResponse">
    <part name="parameters" element="tns:placeOrderByLoginAndPasswordResponse" />
  </message>
  <message name="checkParcelStatus">
    <part name="parameters" element="tns:checkParcelStatus" />
  </message>
  <message name="checkParcelStatusResponse">
    <part name="parameters" element="tns:checkParcelStatusResponse" />
  </message>
  <message name="getUnclaimedParcels">
    <part name="parameters" element="tns:getUnclaimedParcels" />
  </message>
  <message name="getUnclaimedParcelsResponse">
    <part name="parameters" element="tns:getUnclaimedParcelsResponse" />
  </message>
  <message name="checkLogin">
    <part name="parameters" element="tns:checkLogin" />
  </message>
  <message name="checkLoginResponse">
    <part name="parameters" element="tns:checkLoginResponse" />
  </message>
  <message name="getWayBill">
    <part name="parameters" element="tns:getWayBill" />
  </message>
  <message name="getWayBillResponse">
    <part name="parameters" element="tns:getWayBillResponse" />
  </message>
  <message name="trackOrder">
    <part name="parameters" element="tns:trackOrder" />
  </message>
  <message name="trackOrderResponse">
    <part name="parameters" element="tns:trackOrderResponse" />
  </message>
  <message name="addEmployee">
    <part name="parameters" element="tns:addEmployee" />
  </message>
  <message name="addEmployeeResponse">
    <part name="parameters" element="tns:addEmployeeResponse" />
  </message>
  <message name="getCountries">
    <part name="parameters" element="tns:getCountries" />
  </message>
  <message name="getCountriesResponse">
    <part name="parameters" element="tns:getCountriesResponse" />
  </message>
  <message name="getDistricts">
    <part name="parameters" element="tns:getDistricts" />
  </message>
  <message name="getDistrictsResponse">
    <part name="parameters" element="tns:getDistrictsResponse" />
  </message>
  <portType name="Courier">
    <operation name="registry">
      <input wsam:Action="http://server.webservices.konrad.com/Courier/registryRequest" message="tns:registry" />
      <output wsam:Action="http://server.webservices.konrad.com/Courier/registryResponse" message="tns:registryResponse" />
    </operation>
    <operation name="getServerName">
      <input wsam:Action="http://server.webservices.konrad.com/Courier/getServerNameRequest" message="tns:getServerName" />
      <output wsam:Action="http://server.webservices.konrad.com/Courier/getServerNameResponse" message="tns:getServerNameResponse" />
    </operation>
    <operation name="getClientByLoginAndPassword">
      <input wsam:Action="http://server.webservices.konrad.com/Courier/getClientByLoginAndPasswordRequest" message="tns:getClientByLoginAndPassword" />
      <output wsam:Action="http://server.webservices.konrad.com/Courier/getClientByLoginAndPasswordResponse" message="tns:getClientByLoginAndPasswordResponse" />
    </operation>
    <operation name="getClientByAPIpassword">
      <input wsam:Action="http://server.webservices.konrad.com/Courier/getClientByAPIpasswordRequest" message="tns:getClientByAPIpassword" />
      <output wsam:Action="http://server.webservices.konrad.com/Courier/getClientByAPIpasswordResponse" message="tns:getClientByAPIpasswordResponse" />
    </operation>
    <operation name="placeOrderByAPIpassword">
      <input wsam:Action="http://server.webservices.konrad.com/Courier/placeOrderByAPIpasswordRequest" message="tns:placeOrderByAPIpassword" />
      <output wsam:Action="http://server.webservices.konrad.com/Courier/placeOrderByAPIpasswordResponse" message="tns:placeOrderByAPIpasswordResponse" />
    </operation>
    <operation name="placeOrderByLoginAndPassword">
      <input wsam:Action="http://server.webservices.konrad.com/Courier/placeOrderByLoginAndPasswordRequest" message="tns:placeOrderByLoginAndPassword" />
      <output wsam:Action="http://server.webservices.konrad.com/Courier/placeOrderByLoginAndPasswordResponse" message="tns:placeOrderByLoginAndPasswordResponse" />
    </operation>
    <operation name="checkParcelStatus">
      <input wsam:Action="http://server.webservices.konrad.com/Courier/checkParcelStatusRequest" message="tns:checkParcelStatus" />
      <output wsam:Action="http://server.webservices.konrad.com/Courier/checkParcelStatusResponse" message="tns:checkParcelStatusResponse" />
    </operation>
    <operation name="getUnclaimedParcels">
      <input wsam:Action="http://server.webservices.konrad.com/Courier/getUnclaimedParcelsRequest" message="tns:getUnclaimedParcels" />
      <output wsam:Action="http://server.webservices.konrad.com/Courier/getUnclaimedParcelsResponse" message="tns:getUnclaimedParcelsResponse" />
    </operation>
    <operation name="checkLogin">
      <input wsam:Action="http://server.webservices.konrad.com/Courier/checkLoginRequest" message="tns:checkLogin" />
      <output wsam:Action="http://server.webservices.konrad.com/Courier/checkLoginResponse" message="tns:checkLoginResponse" />
    </operation>
    <operation name="getWayBill">
      <input wsam:Action="http://server.webservices.konrad.com/Courier/getWayBillRequest" message="tns:getWayBill" />
      <output wsam:Action="http://server.webservices.konrad.com/Courier/getWayBillResponse" message="tns:getWayBillResponse" />
    </operation>
    <operation name="trackOrder">
      <input wsam:Action="http://server.webservices.konrad.com/Courier/trackOrderRequest" message="tns:trackOrder" />
      <output wsam:Action="http://server.webservices.konrad.com/Courier/trackOrderResponse" message="tns:trackOrderResponse" />
    </operation>
    <operation name="addEmployee">
      <input wsam:Action="http://server.webservices.konrad.com/Courier/addEmployeeRequest" message="tns:addEmployee" />
      <output wsam:Action="http://server.webservices.konrad.com/Courier/addEmployeeResponse" message="tns:addEmployeeResponse" />
    </operation>
    <operation name="getCountries">
      <input wsam:Action="http://server.webservices.konrad.com/Courier/getCountriesRequest" message="tns:getCountries" />
      <output wsam:Action="http://server.webservices.konrad.com/Courier/getCountriesResponse" message="tns:getCountriesResponse" />
    </operation>
    <operation name="getDistricts">
      <input wsam:Action="http://server.webservices.konrad.com/Courier/getDistrictsRequest" message="tns:getDistricts" />
      <output wsam:Action="http://server.webservices.konrad.com/Courier/getDistrictsResponse" message="tns:getDistrictsResponse" />
    </operation>
  </portType>
  <binding name="CourierPortBinding" type="tns:Courier">
    <wsp:PolicyReference URI="#CourierPortBinding_MTOM_Policy-CourierPortBinding_MTOM_Policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="registry">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getServerName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getClientByLoginAndPassword">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getClientByAPIpassword">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="placeOrderByAPIpassword">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="placeOrderByLoginAndPassword">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="checkParcelStatus">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getUnclaimedParcels">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="checkLogin">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getWayBill">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="trackOrder">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addEmployee">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCountries">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getDistricts">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CourierService">
    <port name="CourierPort" binding="tns:CourierPortBinding">
      <soap:address location="http://localhost:8080/RSIKurier/CourierService" />
    </port>
  </service>
</definitions>