Web References/konrad/CourierService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://server.webservices.konrad.com/" targetNamespace="http://server.webservices.konrad.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addEmployee" type="tns:addEmployee" />
  <xs:element name="addEmployeeResponse" type="tns:addEmployeeResponse" />
  <xs:element name="checkLogin" type="tns:checkLogin" />
  <xs:element name="checkLoginResponse" type="tns:checkLoginResponse" />
  <xs:element name="checkParcelStatus" type="tns:checkParcelStatus" />
  <xs:element name="checkParcelStatusResponse" type="tns:checkParcelStatusResponse" />
  <xs:element name="getClientByAPIpassword" type="tns:getClientByAPIpassword" />
  <xs:element name="getClientByAPIpasswordResponse" type="tns:getClientByAPIpasswordResponse" />
  <xs:element name="getClientByLoginAndPassword" type="tns:getClientByLoginAndPassword" />
  <xs:element name="getClientByLoginAndPasswordResponse" type="tns:getClientByLoginAndPasswordResponse" />
  <xs:element name="getCountries" type="tns:getCountries" />
  <xs:element name="getCountriesResponse" type="tns:getCountriesResponse" />
  <xs:element name="getDistricts" type="tns:getDistricts" />
  <xs:element name="getDistrictsResponse" type="tns:getDistrictsResponse" />
  <xs:element name="getServerName" type="tns:getServerName" />
  <xs:element name="getServerNameResponse" type="tns:getServerNameResponse" />
  <xs:element name="getUnclaimedParcels" type="tns:getUnclaimedParcels" />
  <xs:element name="getUnclaimedParcelsResponse" type="tns:getUnclaimedParcelsResponse" />
  <xs:element name="getWayBill" type="tns:getWayBill" />
  <xs:element name="getWayBillResponse" type="tns:getWayBillResponse" />
  <xs:element name="placeOrderByAPIpassword" type="tns:placeOrderByAPIpassword" />
  <xs:element name="placeOrderByAPIpasswordResponse" type="tns:placeOrderByAPIpasswordResponse" />
  <xs:element name="placeOrderByLoginAndPassword" type="tns:placeOrderByLoginAndPassword" />
  <xs:element name="placeOrderByLoginAndPasswordResponse" type="tns:placeOrderByLoginAndPasswordResponse" />
  <xs:element name="registry" type="tns:registry" />
  <xs:element name="registryResponse" type="tns:registryResponse" />
  <xs:element name="trackOrder" type="tns:trackOrder" />
  <xs:element name="trackOrderResponse" type="tns:trackOrderResponse" />
  <xs:complexType name="registry">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
      <xs:element minOccurs="0" name="arg5" type="xs:string" />
      <xs:element minOccurs="0" name="arg6" type="xs:string" />
      <xs:element minOccurs="0" name="arg7" type="xs:string" />
      <xs:element minOccurs="0" name="arg8" type="xs:string" />
      <xs:element minOccurs="0" name="arg9" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registryResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getWayBill">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getWayBillResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trackOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trackOrderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="placeOrderByLoginAndPassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
      <xs:element minOccurs="0" name="arg5" type="xs:string" />
      <xs:element minOccurs="0" name="arg6" type="xs:string" />
      <xs:element minOccurs="0" name="arg7" type="xs:string" />
      <xs:element minOccurs="0" name="arg8" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="placeOrderByLoginAndPasswordResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUnclaimedParcels">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getUnclaimedParcelsResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getClientByLoginAndPassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getClientByLoginAndPasswordResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:client" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="client">
    <xs:sequence>
      <xs:element minOccurs="0" name="APIpassword" type="xs:string" />
      <xs:element minOccurs="0" name="address" type="xs:string" />
      <xs:element minOccurs="0" name="city" type="xs:string" />
      <xs:element minOccurs="0" name="country" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNumber" type="xs:string" />
      <xs:element minOccurs="0" name="zipCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getServerName">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getServerNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkLoginResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkParcelStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element name="arg1" type="xs:int" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkParcelStatusResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getClientByAPIpassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getClientByAPIpasswordResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:client" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCountries">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getCountriesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDistricts">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDistrictsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="placeOrderByAPIpassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
      <xs:element minOccurs="0" name="arg5" type="xs:string" />
      <xs:element minOccurs="0" name="arg6" type="xs:string" />
      <xs:element minOccurs="0" name="arg7" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="placeOrderByAPIpasswordResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addEmployee">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="addEmployeeResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>